.gallary{
  padding: 14px 5%;    
}
  
.gallary img {
  display: flex;
  text-align: center;
  float: left;
  text-decoration: none;
  padding: 2px;
}


.go-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}